{% extends "layout/basic.html" %}

{% block content %}
    <h1>Список сотрудников</h1>
    <form method="get" action="{% url 'list_employees' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Поиск</button>
    </form>
    <ul>
        {% for employee in employees %}
            <li>
                <div>
                    <p><strong>ФИО:</strong><a href="{{ employee.get_absolut_url }}"> {{ employee.full_name }}</a></p>
                    <p><strong>Подразделение:</strong> {{ employee.unit.code }}</p>
                    <p><strong>Табельный номер:</strong> {{ employee.service_number }}</p>
                    <p><strong>Должность:</strong> {{ employee.position }}</p>
                    <p><strong>Дата приёма на работу:</strong> {{ employee.entry_date }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
