{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Главная{% endblock %}</title>
<!--        <link rel="stylesheet" type="text/css"-->
<!--            href="{% static 'bboard/style.css' %}">-->
    </head>
    <body>
        <header>
            <h1>Компания Х</h1>
            <h2>Новости</h2>
        </header>
        <nav>
            <form action="{% url 'list_units' %}" style="display:inline;">
                <button type="submit">Подразделения</button>
            </form>

            <form action="{% url 'list_employees' %}" style="display:inline;">
                <button type="submit">Работники</button>
            </form>

            <form action="{% url 'add_unit' %}" style="display:inline;">
                <button type="submit">Добавить подразделение</button>
            </form>

            <form action="{% url 'add_employee' %}" style="display:inline;">
                <button type="submit">Добавить работника</button>
            </form>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>